:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --section-color:#eff7fa;
}
/* Start Navbar  */
body{
    font-family: 'Roboto', sans-serif;
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.search{
    border-left: solid 1px var(--green-color);
}
.search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    border: 1px solid white;
    color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
/* End Navbar  */
/* Start landing */
.landing-page{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End landing */
/* Start features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--green-color);
}
.features h3{
    color: #ffc400;
}
/* End features */
/* Start Our Work */
.our-work{
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: #ff3150;
    color: #ffc400;
}
.our-work ul li{
    padding: 8px 16px;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{
    color: #ff3150;
}
.our-work .box{
    position: relative;
    overflow: hidden;
    padding: 5PX;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgba(51,209,204, 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
    transform: translateX(0);
}
/* End Our Work */
/* Start Stuff  */
.stuff .description{
    max-width: 500px;
}
/* End Stuff  */
/* Start Team */
.team {
    background-color: var(--section-color);
}
.team h2{
    color: #ffc400;
    font-weight: bold;
}
.team .box h4{
    background-color: var(--green-color);
}
/* End Team */
/* Start Project  */
.project{
    background-color: var(--dark-color);
}
/* End Project  */
/* Start subscribe  */
.subscribe {
    background-color: #ffc400;
}
.subscribe .input-sub{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe .input-sub:focus{
    outline: none;
}
.subscribe .input-sub::placeholder{
    color: white;
}
.subscribe .btn-sub {
    background-color: var(--dark-color);
    color: #ffc400;
}
/* End subscribe  */
/* Start footer  */
.footer{
    background-color: var(--dark-color);
}
.footer .contact ul svg{
    width: 20px;
    height: 20px;
}
.footer .facebook {
    background-color: #1877f2;
}
.footer .twitter {
    background-color: #1da1f2;
}
.footer .youtube {
    background-color: #ff0000;
}
.footer .linkedin {
    background-color: #0a66c2;
}
/* End footer  */